/* Styl dla okienka po wygranej */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-content h2 {
    color: #333;
    margin-bottom: 10px;
}

.popup-content p {
    color: #555;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.popup-content button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
    color: white;
}

.popup-content button:hover {
    background-color: #555;
}

.hidden {
    display: none;
}